body {
  font-family: 'Poppins', sans-serif;
  background-color: #021a36;
  color: #fff;
  display: flex;
  flex-direction: column;   
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}


.stopwatch {
  position: relative;
  color: white;
  font-size: 40px;
  font-weight: bold;

  /* Glowing effect */
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8),
               0 0 16px rgba(255, 255, 255, 0.5),
               0 0 24px rgba(255, 255, 255, 0.3);
}

.container {
  position: relative;
  border-radius: 50%;
  width: 360px;
  height: 360px;
  overflow: hidden;
  box-shadow: 0 8px 32px rgba(239, 189, 96, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

.timer {
  position: relative;
  color: white;
  font-size: 75px;
  font-weight: bold;
  z-index: 1;

  /* Glowing effect */
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8),
               0 0 16px rgba(255, 255, 255, 0.5),
               0 0 24px rgba(255, 255, 255, 0.3);
}

.controls {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.controls button { 
  margin: 0.5rem;
  padding: 1rem 2.5rem; 
  font-size: 1.2rem;    
  border-radius: 12px;   
  border: none;
  font-weight: 600;
  background-color: #1d2e61;
  color: white;
  cursor: pointer;
  box-shadow: 0 8px 32px rgba(239, 189, 96, 0.3);
}

.controls button:hover {
  background-color: #3a3aff;
}

#laps {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

#laps li {
  font-size: 1.2rem; /* medium-sized text */
  background-color: #2e2e50;
  color: #ffffff;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #00000030;
  min-width: 120px;
  text-align: center;
}
